<html>
    <head>
        <title>404</title>
    </head>
    <body>
        {{>header}}
        {{#if message}}
        <h2>{{message}}</h2>
        {{else}}
        <h2>Page not found</h2>
        {{/if}}
        {{>footer}}
    </body>
</html>