<!DOCTYPE html>
<html>
    <head>
        <title>AAA</title>
        <script src="/js/app.js" defer></script>
    </head>
    <body>
        {{>header}}
        <p>Que lugar quieres consultar?</p>
        <input type="text" name="q" id="q"/>
        <button id="search">Buscar</button>

        <h5>Pronóstico:</h5>
        <p id="forecast"></p>
        <h5>Lugar:</h5>
        <p id="location"></p>
        {{>footer}}
    </body>
</html>